.menu {
  margin-bottom: 10px;

  .span-title {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 20px;
  }
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .poke-card {
    width: 200px;
    height: 180px;
    border-radius: 10px;
    background-color: #404d56;;
    margin: 10px;
  }

}
